/* Light mode variables */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --link-color: #0066cc;
    --visited-link-color: #551a8b;
    --card-border: #cccccc;
}

/* Dark mode variables */
.dark-mode {
    --bg-color: #2c2c2c;
    --text-color: #e4e4e4;
    --link-color: #a8dadc;
    --visited-link-color: #b39cd0;
    --card-border: #e4e4e4;
}

body,
.container {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: monospace;
    /*transition: background-color 0.3s ease, color 0.3s ease;*/
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-link-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    border: 1px solid var(--card-border);
    padding: 20px;
    gap: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark mode toggle button */
#theme-toggle {
    background: none;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-family: monospace;
    /*transition: background-color 0.3s ease, color 0.3s ease;*/
}

#theme-toggle:hover,
#theme-toggle:focus {
    background-color: var(--text-color);
    color: var(--bg-color);
    outline: none;
}
